<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>My Bookshelf || <%= book.title %></title>
</head>
<body>

  <div class="container">

    <%- include("../partials/nav.ejs") %>

    <section class="details">
      <img src="<%= book.imageURL %>" alt="">
      <div class="content-wrapper">
        <h1><%= book.title %></h1>
        <h2><%= book.author %></h2>
        <h3><%= book.publisher %>, <%= book.year %></h3>
        <div class="book-summary">
          <p style="white-space: pre-line"><%= book.synopsis %></p>
        </div>

        <a href="/"><button class="button">Go Back</button></a>
        <a class="delete" href="/" data-doc="<%= book._id %>"><button class="button __special">Delete</button></a>
    
      </div>
    </section>

  </div>

  <script> // Handle delete button
    const deleteButton = document.querySelector('a.delete');

    deleteButton.addEventListener('click', (e) => {
      const endpoint = `/books/${deleteButton.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE'
      })
      .then((response) => response.json())
      .then((data) => window.location.href = data.redirect) 
      .catch(err => console.log(err));
    });
  </script>

</body>
</html>